.content{
    grid-area: message;
    padding: 10px;
    border-left: 1px solid #dadada;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    overflow-x: hidden;
    height:625px ;
}

.smsMe{
    max-width: 60%;
    min-height: 40px;
    margin-top: 30px;
    display: flex;
    background-color: #c8c8c8;
    color: #05101c;
    margin-left:  auto;
    border-radius:20px;
    padding: 10px;
    margin-right: 30px;

}

.smsNotMe{
    display: flex;
    background-color: #150615;
    color: white;
    margin-left: 10px;
    padding: 10px;
    border-radius:20px;
    max-width: 60%;
    min-height: 40px;
    margin-top: 30px;
    margin-right: auto;

}

.blockForImgAndText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;

}

.photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 35px;
}